<button id="share-btn" class="hdr-btn" title="{{i18n "share"}}">{{- partial "svg.html" (dict "context" . "name" "share") -}}</button>
 
<div id="share-links" {{- if ne false .Site.Params.usesAnimation }} class="animated fast" {{- end -}}>
    {{ $title := .Title }}
    {{ $url := printf "%s" .Permalink }}
    {{ $author := (.Params.author | default .Site.Params.author.name) }}
    {{ $summary := print $title ", by " $author "\n\n" .Params.description "\n" }}
    <ul>
        <li>
            <a href="https://blacksky.community/intent/compose?text={{ .Permalink }}" target="_blank" rel="noopener" aria-label="Share on blacksky">{{- partial "svg.html" (dict "context" . "name" "blacksky") -}}</a>
        </li>
        <li>
            <a href="https://bsky.app/intent/compose?text={{ .Permalink }}" target="_blank" rel="noopener" aria-label="Share on bluesky">{{- partial "svg.html" (dict "context" . "name" "bluesky") -}}</a>
        </li>
        <li>
            <a href="mailto:?subject={{ .Title }}&amp;body={{ .Permalink }}" target="_self" rel="noopener" aria-label="Share on Email">{{- partial "svg.html" (dict "context" . "name" "email") -}}</a>
        </li>
        <li>
            <a href="#" onclick="linkShare({{ $title }},{{ $url }},{{ $summary }}); return false;" target="_self" rel="noopener" aria-label="Copy Link">{{- partial "svg.html" (dict "context" . "name" "share_2") -}}</a>
        </li>
    </ul>
</div>